EasyBuyService:
  InstanceName:
    settings-key: EasyBuyService-InstanceName

  WalletId:
    settings-key: EasyBuyService-WalletId
    
  RecalculationInterval:
    settings-key: EasyBuyService-RecalculationInterval
  
  OrderExecutionInterval:
    settings-key: EasyBuyService-OrderExecutionInterval
    
  Db:
    DataConnectionString:
      settings-key: EasyBuyService-DataConnectionString
      types:
        - AzureTableStorage

    LogsConnectionString:
      settings-key: EasyBuyService-LogsConnectionString
      types:
        - AzureTableStorage

  Rabbit:
    Subscribers:
      OrderBooks:
        ConnectionString:
          settings-key: RawPriceRabbitMq
          types:
            - RabbitMq
        Exchanges:
          settings-key: EasyBuyService-Rabbit-Subscribers-OrderBooks-Exchanges
          types:
            - JsonArray
        QueueSuffix:
          settings-key: EasyBuyService-Rabbit-Subscribers-OrderBooks-QueueSuffix

    Publishers:                
      Prices:
        ConnectionString:
          settings-key: RawPriceRabbitMq
          types:
            - RabbitMq
        Exchange:
          settings-key: EasyBuyService-Rabbit-Publishers-Prices-Exchange

AssetsServiceClient:
  ServiceUrl:
    settings-key: AssetsServiceUrl

BalancesServiceClient:
  ServiceUrl:
    settings-key: BalancesServiceUrl

ExchangeOperationsServiceClient:
  ServiceUrl:
    settings-key: ExchangeOperationsServiceUrl

SlackNotifications:
  AzureQueue:
    ConnectionString:
      settings-key: SlackNotificationsConnString
      types:
        - AzureTableStorage
    QueueName:
      settings-key: SlackQueueName

MonitoringServiceClient:
  MonitoringServiceUrl:
    settings-key: MonitoringServiceUrl